@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: #F0F8FF;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background: #2F4F4F;
  min-height: 100vh;
}

h1 {
  color: #2F4F4F;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.ToDoWrapper {
  background: #F5FFFA;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  align-items: center;
  width: 500px;
}

.ToDoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.ToDo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2F4F4F;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.todo-value {
  outline: none;
  background: none;
  border: 1px solid #2F4F4F;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 230px;
  color: #2F4F4F;
}

.task-submit-btn {
  background: #2F4F4F;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.incompleted:hover {
  color: #808080;
  text-decoration: line-through;
}

.completed {
  color: #808080;
  text-decoration: line-through;
  cursor: pointer;
}


.fa-trash {
  margin-left: 0.75rem;
  cursor: pointer;
}

.fa-pen-to-square {
  cursor: pointer;
}